body{
    background-color: lightseagreen;
}
h1{
    color: white;
    text-align: center;
    font-family: "Arial" ;
    text-shadow: 1px 1px 2px black;
}
 section{
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 3px 3px 9px ;
    margin: auto;
    width: 500px;
    font-size: 1em;
    line-height: 50px;
    background-color: white;
    font-family: arial;
    font-style: italic;
    padding: 2%;
 }
 #copy{
   margin: 2%;
    text-align: center;
    color: rgb(255, 255, 255);
 }
 img{
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    
 }
 #date{
    width: 35px;
 }